.block-container {
    display: flex;
    flex-flow: row wrap;
    .block {
        margin: 0.6em;
        padding: 2em;
        border-radius: 10px;
        text-align: center;
        flex-direction: column;
        flex: 1;
        flex-basis: 25%;
        cursor: pointer;
        &.pass {
            background: green;
        }
        &.fail {
            background: red;
        }
        &.other {
            background: grey;
        }
        .previous-server-status {
            position: relative;
            bottom: 0;
        }
    }
}
