.block-container {
    display: flex;
    flex-flow: column wrap;
    width: 100% !important;
    padding: 0rem;
    .block {
        margin: 1em;
        padding: 2em;
        border-radius: 10px;
        text-align: center;
        flex-basis: 32%;
        cursor: pointer;
        &.pass {
            background: green;
        }
        &.fail {
            background: red;
        }
        &.other {
            background: grey;
        }
        .previous-server-status {
            position: relative;
            bottom: 0;
        }
    }
}